.bbl2-tooltip {
    position: relative;
    display: inline-block;
}

.bbl2-tooltip .tooltip-text {
    visibility: hidden;
    border: 1px solid #3f6b86;
    background-color: #253f4f;
    color: #BFC3C6;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    padding: 4px 12px;
    right: 60px;
    bottom: -4px;
}

.bbl2-tooltip .tooltip-text::after {
    border-left-color: #3f6b86;
    border-left-style: solid;
    border-left-width: 6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    right: -6px;
    top: 50%;
    margin-top: -4px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.bbl2-tooltip:hover .tooltip-text {
    visibility: visible;
}

@media (max-width: 1000px) {
    #header {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #app-page-content {
        margin: 0 !important;
        padding: 0 !important;
    }

    #trading-widget-1 > div > .ui-panel {
        display: none;
    }

    #trading-widget-1 > div > .split__container {
        flex-direction: column;
    }

    #trading-widget-1 > div > .split__container > .split__main {
        padding: 0;
    }

    #footer {
        display: none;
    }
}